<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let produto of listaProdutos">
    <ion-label>
      <h1>{{produto.titulo}}</h1> <br>
      <h2>Descrição: {{produto.descricao}}</h2>
      <p>Preço: R${{produto.preco}}</p>
    </ion-label>
  </ion-item>
  <ion-button routerLink="/create-produto">
    Adicionar produto
  </ion-button>
  <ion-button routerLink="/home">
    Voltar ao início
  </ion-button>
</ion-content>
