<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alterar produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="titulo" label="Nome" labelPlacement="floating" placeholder="Digite o nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="descricao" label="Descrição" labelPlacement="floating"  placeholder="Digite a descrição"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="preco" label="Preço" labelPlacement="floating" type="number"  placeholder="Digite o preço"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="nome_imagem" label="Imagem" labelPlacement="floating" placeholder="Digite o caminho da imagem"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="salvar()" fill="outline">SALVAR</ion-button>
  </ion-list>
</ion-content>
