<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let cliente of listaClientes">
    <ion-label>
      <h1>{{cliente.nome}}</h1> <br>
      <p>{{cliente.email}}</p>
    </ion-label>
  </ion-item>

  <ion-button routerLink="/create-cliente">
    Adicionar cliente
  </ion-button>

  <ion-button routerLink="/produto">
    Ver lista de produtos
  </ion-button>
</ion-content>


